<% _.each(chapters, function(chapter) { %>
  <md-card>
    <md-card-content>
      <form>
        <md-input-container>
          <label>Tytuł rozdziału</label>
          <input name="name" type="text" value="<%= chapter.name %>">
        </md-input-container>
        <md-input-container>
          <label>Kolejnośc rozdziału</label>
          <input name="order" type="text" value="<%= chapter.order %>">
        </md-input-container>
        <md-input-container>
          <label>Treść rozdziału</label>
          <input name="content" type="text" value="<%= chapter.content %>">
        </md-input-container>
        <input class="form-control" name="owner" type="hidden" value="<%= course.id %>">
        <input name='_csrf' type='hidden' value='<%= _csrf %>'>
      </form>
      <div class="md-actions" layout="row">
        <a class="md-button" type="submit">Uaktualnij rozdzial</a>
        <a class="-button" href="/chapter/destroy/<%= chapter.id %>">Usuń rozdzial</a>
      </div>

    </md-card-content>
    <% include ../exercise/index.ejs %><% include ../exercise/new.ejs %>
  </md-card>

<% }) %>
