<% _.each(chapters, function(chapter) { %>
  <form action="/chapter/update/<%= chapter.id %>/" method="POST" class="form-update-course">
    <dt>Tytuł rozdziału</dt>
    <dd>
      <input type="text" class=" form-control" placeholder="Dodaj tytuł rozdziału" name="name" value="<%= chapter.name %>">
    </dd>
    <dt>Kolejność rozdziału</dt>
    <dd>
      <input type="text" class=" form-control" placeholder="Dodaj kolejsność" name="order" value="<%= chapter.order %>">
    </dd>
    <dt>Treść rozdziału</dt>
    <dd>
      <input type="text" class=" form-control" placeholder="Dodaj treść rozdziału" name="content" value="<%= chapter.content %>">
      <input type="hidden" class="form-control" name="owner" value="<%= course.id %>">
      <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      <br>
      <button type="submit" class="btn btn-success">Uaktualnij rozdzial</button>
      <a href="/chapter/destroy/<%= chapter.id %>" class="btn btn-danger">Usuń rozdzial</a>
    </dd>
  </form>
  <hr>
  <dd>
    <% include ../exercise/index.ejs %>
      <% include ../exercise/new.ejs %>
  </dd>
  <hr>
  <% }) %>
