<% _.each(chapters, function(chapter) { %>
  <form action="/chapter/update/<%= chapter.id %>/" class="form-update-course" method="POST">
    <dt>Tytuł rozdziału</dt>
    <dd>
      <input class=" form-control" name="name" placeholder="Dodaj tytuł rozdziału" type="text" value="<%= chapter.name %>">
    </dd>
    <dt>Kolejność rozdziału</dt>
    <dd>
      <input class=" form-control" name="order" placeholder="Dodaj kolejsność" type="text" value="<%= chapter.order %>">
    </dd>
    <dt>Treść rozdziału</dt>
    <dd>
      <input class=" form-control" name="content" placeholder="Dodaj treść rozdziału" type="text" value="<%= chapter.content %>">
      <input class="form-control" name="owner" type="hidden" value="<%= course.id %>">
      <input name='_csrf' type='hidden' value='<%= _csrf %>'>
      <br>
      <button class="btn btn-success" type="submit">Uaktualnij rozdzial</button>
    </dd>
  </form>
  <hr>
  <% include ../exercise/index.ejs %>
  <% include ../exercise/new.ejs %>
  <hr>
<% }) %>
