<md-content flex layout-padding>
	<h2>Edycja profilu</h2>
	<md-form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
		<md-input-container>
			<label>Imię</label>
			<input value="<%= user.name %>" name="name" type="text" class="form-control" />
		</md-input-container>
		<md-input-container>
			<label>Nick</label>
			<input value="<%= user.nick %>" name="nick" type="text" class="form-control" />
		</md-input-container>
		<md-input-container>
			<label>Email</label>
			<input value="<%= user.email %>" name="email" type="text" class="form-control" />
		</md-input-container>
		<% if (session.authenticated && session.User.admin) { %>
			<md-input-container>
				<label>Jest administratorem</label>
				<input value="<%= user.admin %>" name="admin" type="text" class="form-control" />
			</md-input-container>
			<% } %>
				<input type="submit" value="Zapisz" class="md-button" />
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				</form>
</md-content>
