<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
		<h2>Edycja profilu</h2>
		<label>Imię</label>
		<input value="<%= user.name %>" name="name" type="text" class="form-control"/>
		<label>Nick</label>
		<input value="<%= user.nick %>" name="nick" type="text" class="form-control"/>
		<label>Email</label>
		<input value="<%= user.email %>" name="email" type="text" class="form-control"/>
		<% if (session.authenticated && session.User.admin) { %>
			<label>Jest administratorem</label>
			<input value="<%= user.admin %>" name="admin" type="text" class="form-control"/>
		<% } %>
		<input type="submit" value="Zapisz" class="btn btn-primary btn-block"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
