<li>
  <a href="/about">
    <%= __('about') %>
  </a>
</li>
<li>
  <a href="/design-pattern">
    <%= __('pattern-design') %>
  </a>
</li>
<li>
  <a href="/best-practice">
    <%= __('best-practice') %>
  </a>
</li>
<% if (session.authenticated && session.User.admin) { %>
  <li>
    <a href="/course/new">
      <%= __('add-course') %>
    </a>
  </li>
  <li>
    <a href="/user">
      <%= __('users') %>
    </a>
  </li>
  <li>
    <a href="/user/new">
      <%= __('add-users') %>
    </a>
  </li>
  <% } %>
