<% _.each(exercises, function(exercise) { %>
  <form action="/exercise/update/<%= exercise.id %>/" class="form-update-exercise" method="POST">
    <dt>Tytuł rozdziału</dt>
    <dd>
      <input class=" form-control" name="name" placeholder="Dodaj tytuł rozdziału" type="text" value="<%= exercise.name %>">
    </dd>
    <dt>Kolejność rozdziału</dt>
    <dd>
      <input class=" form-control" name="order" placeholder="Dodaj kolejsność" type="text" value="<%= exercise.order %>">
    </dd>
    <dt>Treść rozdziału</dt>
    <dd>
      <input class=" form-control" name="content" placeholder="Dodaj treść rozdziału" type="text" value="<%= exercise.content %>">
      <input class="form-control" name="owner" type="hidden" value="<%= exercise.id %>">
      <input name='_csrf' type='hidden' value='<%= _csrf %>'>
      <br>
      <button class="btn btn-success" type="submit">Uaktualnij rozdzial</button>
    </dd>
  </form>
  <hr>
<% }) %>
