<% _.each(exercises, function(exercise) { %>
  <% if(exercise.owner == chapter.id){ %>
    <form action="/exercise/update/<%= exercise.id %>/" class="form-update-exercise" method="POST">
      <dt>Tytuł ćwiczenia</dt>
      <dd>
        <input class=" form-control" name="name" placeholder="Dodaj tytuł rozdziału" type="text" value="<%= exercise.name %>">
      </dd>
      <dt>Kolejność ćwiczenia</dt>
      <dd>
        <input class=" form-control" name="order" placeholder="" type="text" value="<%= exercise.order %>">
      </dd>
      <dt>Treść konsoli ćwiczenia</dt>
      <dd>
        <input class=" form-control" name="codeconsole" placeholder="" type="text" value="<%= exercise.codeconsole %>">
      </dd>
      <dt>Treść testów ćwiczenia</dt>
      <dd>
        <input class=" form-control" name="test" placeholder="" type="text" value="<%= exercise.test %>">
      </dd>
      <dt>Treść ćwiczenia</dt>
      <dd>
        <input class=" form-control" name="content" placeholder="Dodaj treść rozdziału" type="text" value="<%= exercise.content %>">
        <input class="form-control" name="owner" type="hidden" value="<%= course.id %>">
        <input name='_csrf' type='hidden' value='<%= _csrf %>'>
        <br>
        <button class="btn btn-success" type="submit">Uaktualnij ćwiczenie</button>
        <a class="btn btn-danger" href="/exercise/destroy/<%= exercise.id %>" type="submit">Usuń ćwiczenie</a>
      </dd>
    </form>
    <hr>
  <% } %>
<% }) %>
