<% _.each(exercises, function(exercise) { %>
  <form action="/exercise/update/<%= exercise.id %>/" method="POST" class="form-update-exercise">
    <dt>Tytuł rozdziału</dt>
    <dd>
      <input type="text" class=" form-control" placeholder="Dodaj tytuł rozdziału" name="name" value="<%= exercise.name %>">
    </dd>
    <dt>Kolejność rozdziału</dt>
    <dd>
      <input type="text" class=" form-control" placeholder="Dodaj kolejsność" name="order" value="<%= exercise.order %>">
    </dd>
    <dt>Treść rozdziału</dt>
    <dd>
      <input type="text" class=" form-control" placeholder="Dodaj treść rozdziału" name="content" value="<%= exercise.content %>">
      <input type="hidden" class="form-control" name="owner" value="<%= course.id %>">
      <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      <br>
      <button type="submit" class="btn btn-success">Uaktualnij rozdzial</button>
    </dd>
  </form>
  <hr>
  <% }) %>
