<form action="/course/update/<%= course.id %>" class="form-update-course" method="POST">
  <div class="form-group">
    <dt>Nazwa kursu:</dt>
    <dd>
      <input class="form-control" name="name" placeholder="Dodaj nwazę wzorca" type="text" value="<%= course.name %>">
    </dd>
    <dt>Typ kursu:</dt>
    <dd>
      <select class="form-control" name="type">
        <option>Pattern design</option>
        <option>Best practice</option>
      </select>
    </dd>
    <dt>Krótki opis:</dt>
    <dd>
      <textarea class="form-control" name="shortdescription" placeholder="Dodaj krótki opis" type="text"><%- course.shortdescription %></textarea>
      <input name="_csrf" type="hidden" value="<%= _csrf %>">
      <br>
      <button class="btn btn-primary" type="submit">Zapisz</button>
      <a class="btn btn-warning" href="/course">Anuluj</a>
      <a class="btn btn-danger" href="/course/destroy/<%= course.id %>">Usuń</a>
    </dd>
  </div>
</form>
<hr>
