<div class="container" ng-controller="HomepageController" ng-cloak>
  <md-data-table-toolbar>
    <h2 class="md-title">Kursy</h2>
  </md-data-table-toolbar>

  <md-data-table-container>
    <table class="table" md-data-table>
      <tbody>
        <% if (session.authenticated && session.User.admin) { %>
          <tr md-auto-select>
            <th>Nazwa</th>
            <th>Pokaż</th>
            <th>Edytuj</th>
            <th>Usuń</th>
          </tr>
          <% _.each(courses, function (course) { %>
            <tr data-id="<%= course.id %>" data-model="course">
              <td md-auto-select>
                <p>
                  <%= course.name %>
                </p>
              </td>
              <td><a href="/course/show/<%= course.id %>" class="md-button">Pokaż</a></td>
              <td><a href="/course/edit/<%= course.id %>" class="md-button">Edytuj</a></td>
              <td><a href="/course/destroy/<%= course.id %>" class="md-button">Usuń</a></td>
            </tr>
            <% }) %>
              <% } %>

                <% if (session.authenticated && !session.User.admin){ %>
                  <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Rozpocznij</th>
                  </tr>
                  <% _.each(courses, function (course) { %>
                    <tr data-id="<%= course.id %>" data-model="course">
                      <td>
                        <p>
                          <%= course.name %>
                        </p>
                      </td>
                      <td>
                        <p>
                          <%= course.shortdescription %>
                        </p>
                      </td>
                      <td><a href="/course/show/<%= course.id %>" class="md-button">Rozpocznij</a></td>
                    </tr>
                    <% }) %>
                      <% } %>

                        <% if (!session.authenticated){ %>
                          <tr>
                            <th>Nazwa</th>
                            <th>Opis</th>
                            <th>Rozpocznij</th>
                          </tr>
                          <% _.each(courses, function (course) { %>
                            <tr data-id="<%= course.id %>" data-model="course">
                              <td md-auto-select>
                                <p>
                                  <%= course.name %>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <%= course.shortdescription %>
                                </p>
                              </td>
                              <td><a href="/signup" class="md-button">Zarejestruj się</a></td>
                            </tr>
                            <% }) %>
                              <% } %>
      </tbody>
    </table>
  </md-data-table-container>
</div>
