<div class="container">
  <div class="controller">
    <h2>Wzorce <a href="/pattern/new" class="btn btn-default">Dodaj wzorzec</a></h2>

    <table class="table">
      <tr>
        <th>Nazwa</th>
        <th>Podgląd</th>
        <th>Edycja</th>
        <th>Usuwanie</th>
      </tr>
      <% _.each(patterns, function (pattern) { %>
      <tr data-id="<%= pattern.id%>" data-model="pattern">
        <td><p><%= pattern.name %></p></td>
        <td><a href="/pattern/show/<%= pattern.id %>" class="btn btn-primary"><%= pattern.name %></a></td>
        <td><a href="/pattern/edit/<%= pattern.id %>" class="btn btn-warning">Edytuj</a></td>
        <td><form action="/pattern/destroy/<%= pattern.id %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-sm btn-danger">Usuń</button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
          </form></td>
      </tr>
      <% }) %>
    </table>
  </div>
</div>
