<div class="container" ng-controller="HomepageController" ng-cloak>
  <div class="controller">
    <h2>Wzorce</h2>

    <% if (session.authenticated && session.User.admin) { %>
      <table class="table">
        <% _.each(patterns, function (pattern) { %>
        <tr data-id="<%= pattern.id%>" data-model="pattern">
          <td><p><%= pattern.name %></p></td>
          <td><a href="/pattern/show/<%= pattern.id %>" class="btn btn-primary">Pokaż</a></td>
          <td><a href="/pattern/edit/<%= pattern.id %>" class="btn btn-warning">Edytuj</a></td>
          <td><a href="/pattern/destroy/<%= pattern.id %>" class="btn btn-danger">Usuń</a></td>
        </tr>
        <% }) %>
      </table>
    <% } %>

    <% if (!session.User.admin){ %>
      <table class="table">
        <% _.each(patterns, function (pattern) { %>
        <tr data-id="<%= pattern.id%>" data-model="pattern">
          <td><p><%= pattern.name %></p></td>
          <td><p><%= pattern.shortdescription %></p></td>

            <td><a href="/pattern/show/<%= pattern.id %>" class="btn btn-primary">Rozpocznij</a></td>
        </tr>
        <% }) %>
      </table>
    <% } %>
  </div>
</div>
