<div class="row">
   <div class="col-md-2 row col-wrap">
   </p>Spis treści</p>
     <ul>
       <p><%= pattern.name %></p>
       <li><a><%= pattern.application %></a></li>
       <li><a><%= pattern.shortdescription %></a></li>
       <li><a><%= pattern.fulldescription %></a></li>
       <li><a><%= pattern.exercises %></a></li>
       <li><a><%= pattern.repeatation %></a></li>
       <li><a><%= pattern.project %></a></li>
       <li><a><%= pattern.summary %></a></li>
     </ul>
   </div>
   <div class="col-md-10 row col-wrap">
     <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus dui in ultricies pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel pellentesque mi, a lobortis ipsum. Vivamus malesuada, turpis feugiat fermentum egestas, tellus ex ultricies tortor, eget venenatis tortor orci sit amet diam. Vestibulum a hendrerit neque. Etiam mi lacus, aliquet ut tellus id, luctus viverra neque. Suspendisse mi dui, euismod sit amet justo sed, placerat efficitur mi. Etiam elementum elit sit amet nisi iaculis venenatis. Aenean a purus quis elit volutpat sodales sed sit amet odio. Praesent cursus vitae tellus eget rutrum. Aliquam feugiat rutrum est eu maximus. Nulla egestas sem ac mollis consectetur. Etiam cursus neque ut urna tincidunt, id mollis leo porttitor. Aliquam vitae lectus sit amet augue vestibulum ornare eu sed enim. Nam auctor dapibus consequat.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam efficitur egestas ante eget dictum. Mauris vitae vehicula elit. Donec tincidunt, enim nec vehicula scelerisque, justo nibh malesuada neque, vel efficitur lacus velit eget arcu. Nam auctor ultrices orci, sit amet luctus eros. Vestibulum euismod, ante sed auctor fermentum, sem dui euismod nunc, nec placerat elit dui at nibh. Nunc ligula sapien, pretium sed lacinia at, condimentum eu lorem. Maecenas ultrices blandit sodales. Curabitur consectetur vel tellus vitae imperdiet.

Curabitur id placerat ligula, condimentum semper est. Aenean accumsan volutpat ex, ut ultricies neque efficitur eu. Sed mattis, orci sit amet tincidunt rutrum, lectus erat aliquet diam, vel bibendum lacus justo cursus ante. Vestibulum et convallis ante. Ut a elit congue, vehicula urna ut, pulvinar dui. Donec ac pellentesque enim. Morbi eget augue in nunc convallis vestibulum.

In fringilla, massa quis convallis varius, turpis diam luctus nunc, aliquam aliquet dolor diam sit amet quam. Phasellus pretium tellus ut ante semper, sodales faucibus magna dignissim. Morbi ac aliquet nisi. Nullam ut tristique leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas faucibus mollis nisl et pretium. Ut nec varius nunc. In tincidunt est hendrerit placerat varius. Aenean eu arcu sapien. Ut eu nisl nec mi convallis elementum. Sed ultricies consequat elementum. Aliquam varius fermentum metus, et facilisis lectus mattis sit amet.
     </p>
   </div>
</div>
<div class="row">
  <div class=".col-md-6"><a>Wstecz</a></div>
  <div class=".col-md-offset-6"><a>Dalej</a></div>
</div>
