<h1><%= pattern.name %></h1>
<p><%= pattern.application %></p>
<p><%= pattern.shortdescription %></p>
<p><%= pattern.fulldescription %></p>
<p><%= pattern.exercises %></p>
<p><%= pattern.repeatation %></p>
<p><%= pattern.project %></p>
<p><%= pattern.summary %></p>
